<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1}]')
});
</script>
<div class="gridster">
  <ul>
  	<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_dev" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_prdn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_prdv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_sitn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_sitv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tstd" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tste" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tstf" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tstg" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tsth" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tstn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_soyou_tstv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_dev" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_prdn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_prdv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_sitn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_sitv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tstd" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tste" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tstf" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tstg" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tsth" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tstn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_think_tstv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_dev" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_prdn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_prdv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_sitn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_sitv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tstd" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tste" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tstf" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tstg" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tsth" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tstn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_lets_tstv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_dev" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_prdn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_prdv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_sitn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_sitv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tstd" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tste" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tstf" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tstg" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<!--
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tsth" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tstn" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="black">
    	<div data-id="bravo_app_status_elope_tstv" data-view="Text" data-addclass-danger="isTooHigh"  ></div>
	</li>
	-->
	
  </ul>
</div>